<h3>Готово! Вы зарегистрированы!</h3>

Добрый день, {{ fullName }}! Вы зарегистрированны на сайте <a href="{{ url('homepage') }}">Fitness All</a>.

Перейдите по <a href="{{ url('reset_password', {'slug' : user.passwordResetGuid}) }}">ссылке</a>, для установки пароля.

Если вы считаете что письмо пришло ошибочно, удалите его и проигнорируйте.

<img src="{{ absolute_url(asset('img/logo.png')) }}">