<h3>Готово! Вы зарегистрированы!</h3>

Добрый день, {{ fullName }}! Вы зарегистрированны на сайте <a href="{{ url('homepage') }}">Fitness All</a>.<br/>

Перейдите по <a href="{{ projectUrl }}{{ path('reset_password', {'slug' : passwordResetGuid}) }}">ссылке</a>, для установки пароля.<br/>

Если вы считаете что письмо пришло ошибочно, удалите его и проигнорируйте.<br/>