<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fitness{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css"/>
    {% endblock %}
</head>
<body>
<div class="uk-container">

    {#menu bigin#}
    <nav class="uk-navbar-container" uk-navbar>

        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <a class="uk-navbar-item uk-logo" href="{{ path('homepage') }}">Fitness</a>
                <li><a href="#">Item</a></li>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти({{ app.user }})</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Войти</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>
    {#menu end#}

    {% block body %}

    {% endblock %}
</div>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
{% endblock %}
</body>
</html>
