{% extends 'base.html.twig' %}

{% block body_id 'reset-password' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="uk-container">
        <div class="uk-card uk-card-body uk-position-top-center uk-margin-large-top">
            <h1>Сброс пароля</h1>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id' : 'contactForm', 'class' : 'uk-form-stacked'}}) }}
            {{ form_errors(form) }}

                {{ form_row(form.password) }}
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}